.game{
    background-image: url(./assets/bgGame.png);
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: 100%;
    font-family: fontGame;
}

.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;
	
}
@font-face {
    font-family: "fontGame";
    src: url(./font/Pony.ttf);
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -27px;
}
.thinking {
    border: 5px solid #45D994;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
}
.thinking img{
    margin: 15px;
}
.btnItem{
    width: 75px;
    height: 75px;
}
.playerRole{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}